apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-deployment-v2
  labels:
    app: aceest
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aceest
      version: v2
  template:
    metadata:
      labels:
        app: aceest
        version: v2
    spec:
      containers:
        - name: aceest
          image: your_dockerhub_username/aceest_fitness:v2.0
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
