apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-deployment-v1
  labels:
    app: aceest
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest
      version: v1
  template:
    metadata:
      labels:
        app: aceest
        version: v1
    spec:
      containers:
        - name: aceest
          image: aceest_fitness:v1.0
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
